.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
}

.arena___shield-container {
  top: 30%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.arena___right-shield,
.arena___left-shield {
  visibility: hidden;
}

.shield-img,
.hit-img,
.ultra-img,
.ultraindicator-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.shield-img {
  background-image: url('../../resources/images/shield.gif');
  height: 40vh;
  width: 20rem;
}

.arena___hit-container,
.arena___ultra-container {
  top: 40%;
  left: 20%;
  width: 60%;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.hit-img {
  background-image: url('../../resources/images/hit.png');
  height: 15vh;
  width: 6rem;
}

.arena___right-hit,
.arena___left-hit,
.arena___right-ultra,
.arena___left-ultra {
  opacity: 0;
}

.arena___left-hit-show,
.arena___left-ultra-show {
  opacity: 1;
  animation-name: moveToTheRight;
  animation-duration: 0.3s;
}

.arena___right-hit-show,
.arena___right-ultra-show {
  opacity: 1;
  animation-name: moveToTheLeft;
  animation-duration: 0.3s;
}

.arena___left-hit div {
  transform: rotate(90deg) scaleX(-1);
}

.arena___right-hit div {
  transform: rotate(-90deg);
}

.arena___right-ultra div,
.arena___right-ultraindicator div {
  transform: scaleX(-1);
}

.arena___ultra-container .ultra-img {
  height: 17vh;
  width: 8rem;
  background-image: url('../../resources/images/ultra.gif');
}

.arena___ultraindicator-container {
  position: absolute;
  top: 2%;
  left: 5%;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.arena___ultraindicator-container .ultra-img {
  background-image: url('../../resources/images/ultra.gif');
  height: 10vh;
  width: 30rem;
}

.ultraindicator-img {
  background-image: url('../../resources/images/ultra.gif');
  height: 6vh;
  width: 2.5rem;
}

.arena___right-ultraindicator,
.arena___left-ultraindicator {
  visibility: hidden;
}

.arena__ultraindicator-progress {
  width: 10rem;
  height: 4rem;
  position: absolute;
}

.arena___ultra-status {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  position: absolute;
}
@keyframes moveToTheRight {
  0% {
    opacity: 1;
    margin-left: 0;
  }
  90% {
    opacity: 0.9;
    margin-left: 23vw;
  }
  100% {
    opacity: 0;
    margin-left: 20vw;
  }
}

@keyframes moveToTheLeft {
  0% {
    opacity: 1;
    margin-right: 0;
  }
  90% {
    opacity: 0.9;
    margin-right: 23vw;
  }
  100% {
    opacity: 0;
    margin-right: 25vw;
  }
}