.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-info__card {
  background-color: #efdca1;
  border: 5px solid #870303;
  padding: 0.5rem;
  text-align: center;
}

.fighter-info__title {
  color: #000;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 0.2rem;
}

.fighter-data {
  display: flex;
  justify-content: space-evenly;
}

.fighter-data__icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  margin: 0 5px;
}

.attack,
.defense,
.health {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.attack {
  background-image: url('../../resources/images/attack.png');
}

.defense {
  background-image: url('../../resources/images/defense.png');
}

.health {
  background-image: url('../../resources/images/health.png');
}

.fighter-data__indicator {
  display: flex;
  align-items: center;
}